@function rem($px) {
  @return ($px / $font-size) * 1rem;
}
@mixin mqup($breakpoint: lg) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
@mixin mqdown($breakpoint: sm) {
  @media screen and (max-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
@mixin mqbet($breakpoint1, $breakpoint2) {
  @media ( min-width: #{map-get($breakpoints, $breakpoint1)} ) and ( max-width: #{map-get($breakpoints, $breakpoint2)} ) {
    @content;
  }
}
@keyframes fall {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(2400px) rotate(240deg);
  }
}
@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(2400px) rotate(240deg);
  }
}
@keyframes fallx {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(1600px) rotate(-240deg);
  }
}
@-webkit-keyframes fallx {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(1600px) rotate(-240deg);
  }
}

@keyframes transform {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-800px);
  }
}
@-webkit-keyframes fall {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-800px);
  }
}